<header>
      <img src="/images/headerimg.png" />
      <h2>Voor al uw rijksmuseum kunstobjecten</h2>
      <form action="/" method="GET">
       <input placeholder="Typ om te zoeken" type="search" minlength="3" required onkeyup="zoekText()">

        <button type="submit">Zoeken</button>
      </form>
</header>