<header>
      <a href="/">
      <img src="./images/headerimg.png"/>
      </a>
      <h2>Voor al uw rijksmuseum kunstobjecten</h2>
      <form action="/search">
       <input placeholder="Typ om te zoeken" type="search" minlength="3" name="search" required >

        <button type="submit">Search</button>
      </form>
</header>