<section class="details">
  <a href="/">&lt; Terug</a>


<article>
  <h2>
  {{kunstObject.artObject.title}}
  </h2>
  <img
    loading="lazy"
    src="{{kunstObject.artObject.webImage.url}}"
    alt="{{kunstObject.artObject.title}}"
  />
  <p>{{kunstObject.artObject.description}}</p>
</article>
  
</section>