{{> header}}
<ul class="kunstobjecten-lijst">

  {{#each kunstObjectenLijst}}

    <li class="kunstobject">
      <h3>{{this.title}}</h3>
      <a href="/kunstobject/{{ this.objectNumber}}">
        <div href="/kunstobject/{{ this.objectNumber}}" class="kunstobject__image">
          <img loading="lazy" src="{{ this.webImage.url  }}" alt="">
        </div>
      </a>
    </li>

  {{/each}}

</ul>